@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css or your main CSS file */
.gradient-border {
  border: 1px solid;
  border-image-source: linear-gradient(90deg, #9B17D0 0%, #C53B08 100%);
  border-image-slice: 1;
  border-radius: 9999px;
  /* Full rounded */
}
.gradientHero {
  
    background: linear-gradient(90deg, #9B17D0 0%, #C53B08 100%);
}

.gradient {
  background: linear-gradient(360deg, rgba(46, 46, 46, 0.2) 0%, #2E2E2E 100%);
}

/* Slider Styles */
.slider {
  margin: auto;
  overflow: hidden;
  position: relative;
}

/* Before and After Pseudo-elements */
.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 400px;
  z-index: 2;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

/* Slide Track Animation */
.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

/* Individual Slide Styles */
.slide {
  height: 200px;
  width: 500px;
}

.slide-track:hover {
  animation-play-state: paused;
}